/* Layout */
.layout {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    min-height: 70px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.header-logo a {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    cursor: pointer
}

.header-authorization ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-authorization ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
} 

.header-menu__logout {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu__logout ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-menu__logout ul li a{
    cursor: pointer;
    font-size: 20px;
    color:blue;
    opacity: 1;
    transition: 0.3s;
}

.header-menu__logout ul li:nth-child(1) {
    margin-top: 8px;
}

.header-menu__logout ul li a:hover {
    opacity: 0.7;
} 

/* Registration and Login */
.registration-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.registration-form__block {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.registration-form__block form {
    width: 60%;
}

.registration-form__title {
    width: 40%;
    font-size: 22px;
    font-weight: 600;
}

.login-form__ant {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.login-form__block {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.login-form__title {
    width: 40%;
    font-size: 22px;
    font-weight: 600;
}

.login-form__block form {
    width: 40%;
}

.login-button__ant div div div div {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
}

/* Footer */
footer {
    margin-top: auto;
    z-index: 100;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    cursor: default;
    font-weight: 600;
}
/* Create Type and Question */
.page-type__question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.block-type__question {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.block-type {
    width: 100%;
}

.block-type form div:nth-child(2) div div div div {
    display: flex;
    gap: 10px;
}

.block-question {
    width: 100%;
}

.block-question form div:nth-child(4) div div div div {
    display: flex;
    gap: 10px;
}

/* Home */

.home-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.home-block__buttons {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Show Questions */

.show-questions__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.show-questions__search {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.show-questions__title {
    font-size: 18px;
    font-weight: 600;
    cursor: default;
}

.show-questions__search form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.show-questions__search form div:nth-child(1) {
    width: 95%;
}

.show-questions__search form div:nth-child(2) {
    width: 95%;
}

/* Questions List */

.questions-collapse {
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 25px;
}